*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
  font-size: 10px; /* Font size (inputs): 32px */
  --spacing: 1.6px;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

body {
  min-height: 100vh;
  background-color: var(--Light-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
}

.hidden {
  display: none;
}

 .error-whole-form {
  font-family: "Poppins", serif;
  color: var(--Light-red);
  font-style: italic;
  position: absolute;
  top: 33%;
}

.error-container {
  display: flex; 
  gap: 1rem;    
  align-items: center;
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  white-space: nowrap; 
  font-family: "Poppins", serif;
  color: var(--Light-red);
  font-style: italic;
}


.main-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--Off-white);
  padding: 1.4rem;
  padding-top: 3rem;
  border-radius: 1rem 1rem 4.5rem 1rem;
  max-width: 420px;
  width: 340px;
}

.inputs-component {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: .8rem;
  width: 100%;
}

.day-component,
.month-component,
.year-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 5.8rem;
  margin-right: 1.8rem;
  position: relative;
}

.day-title,
.month-title,
.year-title {
  color: var(--Smokey-grey);
  letter-spacing: var(--spacing);
  margin-bottom: .4rem;
  font-size: 1.2rem;
}

.day-number-container,
.month-number-container,
.year-number-container {
  border: 1px solid var(--Smokey-grey);
  border-radius: 6px;
  width: 70px;
  height: 3.9rem;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.day-input,
.month-input,
.year-input {
  border: none;
  outline: none;
  background: transparent;
  max-width: 100%;
  height: 100%;
  text-align: left;
  font-size: 2rem;
  padding-left: 1rem;
  color: var(--Off-black);
}

.day-input::-webkit-outer-spin-button,
.day-input::-webkit-inner-spin-button,
.month-input::-webkit-outer-spin-button,
.month-input::-webkit-inner-spin-button,
.year-input::-webkit-outer-spin-button,
.year-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 8.2rem;
  margin-bottom: 5rem;
  position: relative;
}

.age-button {
  border: none;
  outline: none;
  background-color: var(--Purple);
  border-radius: 50%;
  padding: 1.2rem;
  position: absolute;
  left: 40%;
  cursor: pointer;
}

.divider {
  width: 90%;
  max-width: 700px;
  height: .2rem;
  background-color: var(--Light-grey);
  align-self: center;
}

.outputs-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.day-output-container,
.month-output-container,
.year-output-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.days-number,
.months-number,
.years-number {
  font-size: 5rem;
  color: var(--Purple);
  font-style: italic;
  font-weight: 800;
}

.day-result,
.month-result,
.year-result {
  font-size: 5rem;
  color: var(--Off-black);
  font-style: italic;
}


@media (min-width: 768px) {
  
  .main-component {
    max-width: 600px;
  }
  
  .inputs-component {
    gap: 1rem;
  }

  .day-component,
  .month-component,
  .year-component {
    max-width: 6.5rem;
  }

  .day-input,
  .month-input,
  .year-input {
    font-size: 1.6rem;
  }
}

@media (min-width: 1028px) {

  .main-component {
    width: 640px;
  }

  .day-number-container,
  .month-number-container,
  .year-number-container {
    width: 100px;
    padding: 0 2rem;
  }

  .day-component,
  .month-component,
  .year-component {
    max-width: 5.8rem;
    margin-left: 2.5rem;
  }

  .day-input,
  .month-input,
  .year-input {
    padding: 0;
  }

  .inputs-component {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    width: 100%;
  }
  
  .day-output-container,
  .month-output-container,
  .year-output-container {
    margin-left: 2.9rem;
  }

  .day-result,
  .month-result,
  .year-result {
    font-size: 5rem;
    font-weight: 800;
  }

  .age-button:hover {
    background-color: var(--Off-black);
  }

  .age-button {
    left: 90%;
  }

  .day-number-container:hover,
  .month-number-container:hover,
  .year-number-container:hover {
    border-color: var(--Purple);
    cursor: pointer;
  }
}